[mysqld]

# folder to store our database
datadir = /var/lib/mysql

# socket to communicate with
socket = /var/lib/mysqld/mysqld.sock

# allow network to connect to any IP address
bind_address=*

# port that MySQL will communicate on
port = 3306

user = mysql